<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="may.yuntian.modules.sys_v2.mapper.SysMenuMapper">

    <resultMap type="SysMenu" id="SysMenuResult">
        <id     property="menuId"         column="menu_id"        />
        <result property="name"           column="name"      />
        <result property="parentId"       column="parent_id"      />
        <result property="orderNum"       column="order_num"      />
        <result property="moduleName"     column="module_name"      />
        <result property="type"           column="type"      />
        <result property="authCode"       column="auth_code"      />
        <result property="url"            column="url"        />
        <result property="visible"        column="visible"        />
        <result property="status"         column="status"         />
        <result property="perms"          column="perms"          />
        <result property="icon"           column="icon"           />
        <result property="createBy"       column="create_by"      />
        <result property="createTime"     column="create_time"    />
        <result property="updateTime"     column="update_time"    />
        <result property="updateBy"       column="update_by"      />
    </resultMap>

    <sql id="selectMenuVo">
        select menu_id, `name`, parent_id, order_num, type, module_name,auth_code,url,visible, status, ifnull(perms,'') as perms, icon, create_time
        from sys_menu
    </sql>

    <select id="selectMenuList" parameterType="SysMenu" resultMap="SysMenuResult">
        <include refid="selectMenuVo"/>
        <where>
            <if test="name != null and name != ''">
                AND `name` like concat('%', #{name}, '%')
            </if>
            <if test="perms != null and perms != ''">
                AND perms like concat('%', #{perms}, '%')
            </if>
            <if test="authCode != null and authCode != ''">
                AND auth_code like concat('%', #{authCode}, '%')
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="moduleName != null and moduleName != ''">
                AND module_name = #{moduleName}
            </if>
            <if test="visible != null and visible != ''">
                AND visible = #{visible}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        order by parent_id, order_num
    </select>

    <select id="selectMenuTreeAll" resultMap="SysMenuResult">
        select distinct m.menu_id, m.parent_id, m.`name`, m.path,m.url, m.module_name,m.type, m.auth_code, m.visible, m.status, ifnull(m.perms,'') as perms, m.icon, m.order_num, m.create_time
        from sys_menu m where m.type IN ( 0, 1 ) and m.status = 0
        <if test="type != null and type != ''">
            AND m.module_name = #{type}
        </if>
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuListByUserId" parameterType="SysMenu" resultMap="SysMenuResult">
        select distinct m.menu_id, m.parent_id, m.`name`, m.path, m.url, m.visible, m.status, ifnull(m.perms,'') as perms, m.module_name, m.auth_code, m.type, m.icon, m.order_num, m.create_time
        from sys_menu m
        left join sys_role_menu rm on m.menu_id = rm.menu_id
        left join sys_user_role ur on rm.role_id = ur.role_id
        left join sys_role ro on ur.role_id = ro.role_id
        where ur.user_id = #{params.userId}
        <if test="name != null and name != ''">
            AND m.name like concat('%', #{name}, '%')
        </if>
        <if test="moduleName != null and moduleName != ''">
            AND m.module_name = #{moduleName}
        </if>
        <if test="authCode != null and authCode != ''">
            AND m.auth_code like concat('%', #{authCode}, '%')
        </if>
        <if test="visible != null and visible != ''">
            AND m.visible = #{visible}
        </if>
        <if test="perms != null and perms != ''">
            AND m.perms like concat('%', #{perms}, '%')
        </if>
        <if test="type != null">
            AND m.type = #{type}
        </if>
        <if test="status != null and status != ''">
            AND m.status = #{status}
        </if>
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuTreeByUserId" parameterType="Long" resultMap="SysMenuResult">
        select distinct m.menu_id, m.parent_id, m.`name`, m.path, m.url,m.auth_code, m.visible, m.status, ifnull(m.perms,'') as perms, m.module_name, m.type, m.icon, m.order_num, m.create_time
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
                 left join sys_user_role ur on rm.role_id = ur.role_id
                 left join sys_role ro on ur.role_id = ro.role_id
                 left join sys_user u on ur.user_id = u.user_id
        where u.user_id = #{userId} and m.type IN ( 0, 1 ) and m.status = 0  AND ro.status = 0
        <if test="type != null and type != ''">
            AND m.module_name = #{type}
        </if>
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuListByRoleId" resultType="Long">
        select m.menu_id
        from sys_menu m
        left join sys_role_menu rm on m.menu_id = rm.menu_id
        where rm.role_id = #{roleId}
        <if test="menuCheckStrictly">
            and m.menu_id not in (select m.parent_id from sys_menu m inner join sys_role_menu rm on m.menu_id = rm.menu_id and rm.role_id = #{roleId})
        </if>
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuPerms" resultType="String">
        select distinct m.perms
        from lab_sys_menu m
                 left join lab_sys_role_menu rm on m.menu_id = rm.menu_id
                 left join lab_sys_user_role ur on rm.role_id = ur.role_id
    </select>

    <select id="selectMenuPermsByUserId" parameterType="Long" resultType="String">
        select distinct m.perms
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
                 left join sys_user_role ur on rm.role_id = ur.role_id
                 left join sys_role r on r.role_id = ur.role_id
        where m.status = '0' and r.status = '0' and ur.user_id = #{userId}
    </select>

    <select id="selectMenuById" parameterType="Long" resultMap="SysMenuResult">
        <include refid="selectMenuVo"/>
        where menu_id = #{menuId}
    </select>

    <select id="hasChildByMenuId" resultType="Integer">
        select count(1) from sys_menu where parent_id = #{menuId}
    </select>

    <select id="checkMenuNameUnique" parameterType="SysMenu" resultMap="SysMenuResult">
        <include refid="selectMenuVo"/>
        where `name` = #{menuName} and parent_id = #{parentId} and module_name = #{moduleName} limit 1
    </select>

    <select id="checkMenuPermUnique" parameterType="SysMenu" resultMap="SysMenuResult">
        <include refid="selectMenuVo"/>
        where perms = #{perms} and module_name = #{moduleName} limit 1
    </select>

    <update id="updateMenu" parameterType="SysMenu">
        update sys_menu
        <set>
            <if test="name != null and name != ''">`name` = #{name},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="type != null">type = #{type},</if>
            <if test="moduleName != null and moduleName != ''">module_name = #{moduleName},</if>
            <if test="authCode != null and authCode != ''">auth_code = #{authCode},</if>
            <if test="visible != null">visible = #{visible},</if>
            <if test="status != null">status = #{status},</if>
            <if test="perms !=null">perms = #{perms},</if>
            <if test="icon !=null and icon != ''">icon = #{icon},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where menu_id = #{menuId}
    </update>

    <insert id="insertMenu" parameterType="SysMenu">
        insert into sys_menu(
        <if test="menuId != null and menuId != 0">menu_id,</if>
        <if test="parentId != null and parentId != 0">parent_id,</if>
        <if test="name != null and name != ''">`name`,</if>
        <if test="orderNum != null">order_num,</if>
        <if test="url != null and url != ''">url,</if>
        <if test="type != null  ">`type`,</if>
        <if test="visible != null">visible,</if>
        <if test="status != null">status,</if>
        <if test="perms !=null and perms != ''">perms,</if>
        <if test="authCode !=null and authCode != ''">auth_code,</if>
        <if test="moduleName !=null and moduleName != ''">module_name,</if>
        <if test="icon != null and icon != ''">icon,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="menuId != null and menuId != 0">#{menuId},</if>
        <if test="parentId != null and parentId != 0">#{parentId},</if>
        <if test="name != null and name != ''">#{name},</if>
        <if test="orderNum != null">#{orderNum},</if>
        <if test="url != null and url != ''">#{url},</if>
        <if test="type != null ">#{type},</if>
        <if test="visible != null">#{visible},</if>
        <if test="status != null">#{status},</if>
        <if test="perms !=null and perms != ''">#{perms},</if>
        <if test="authCode !=null and authCode != ''">#{authCode},</if>
        <if test="moduleName !=null and moduleName != ''">#{moduleName},</if>
        <if test="icon != null and icon != ''">#{icon},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <delete id="deleteMenuById" parameterType="Long">
        delete from sys_menu where menu_id = #{menuId}
    </delete>

</mapper>